version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html # Mapeia a raiz do projeto para a raiz do servidor no container
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_NAME=portfolio_db
      - DB_USER=portfolio_user
      - DB_PASS=123456

  mysql:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: portfolio_db
      MYSQL_USER: portfolio_user
      MYSQL_PASSWORD: 123456
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql

  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    ports:
      - "8081:80"
    environment:
      - PMA_HOST=mysql
      - PMA_USER=portfolio_user
      - PMA_PASSWORD=123456
    depends_on:
      - mysql

volumes:
  mysql_data:

